.lumiere{align-items: center;}
.contacts{margin-left: 55%;}
.lumiere{margin-left: 15%;}
.descriptionlumiere{text-align: center;}
.carousel3d{width: 73%;}
.carousel3d{margin-left: 20%;}
.descriptionbarbara{text-align: center;}
.cover{display: flex;justify-content: space-around;}
.moodboard{text-align: center;}
footer{padding-left: 45%;}