h1{color: black;}
footer{background-color: grey;}
h2{background-color: whitesmoke;}
main{background-color: beige;}
h2{background-color: beige;}
.rouge{background-color: rgb(226, 71, 24);}
.barre{background-color: rgb(226, 71, 24);}
.beige{background-color: beige;}